*{
    padding:0; margin:0;
    outline:none;
    font-family:lilita-one;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    width:100%;
    background:whitesmoke;
}

/* navbar design */
.navbar{
    display:flex;
    width: 100%;
    padding:10px 50px;
    justify-content: flex-end;
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
}
.navbar .nav-link{
    display:flex;
    align-items:center;
    gap:20px;
}
.navbar .product-nav-link li a{
    color:white;
}
.nav-link li a{
    text-transform: uppercase;
    color:#7D444E;
    font-size:18px;
    font-weight: bold;
    position:relative;
    opacity: .8;
    margin:10px 20px;
}
.nav-link li a::after{
    content: '';
    position: absolute;
    top:110%;
    width:100%;
    background-color: #7D444E;
    height:2px;
    left:0;
    transition: .5s;
    transform: scaleX(0);
}
.nav-link li a:hover::after{
    transition: .5s;
    transform: scaleX(1);
}
.search{
    position: relative;
}
.search i{
    position: absolute;
    left:5px;
    top:6px;
    color:#7D444E;
}
.search input{
    height:30px;
    border:1px solid #7D444E;
    color:#7D444E;
    opacity: .8;
    background-color: transparent;
    border-radius: 5px;
    padding-left:25px;
    font-size: 20px;
}
.product-search i{
    color:white;
}
.product-search input{
    border:1px solid white;
    color:white;
}
.navbar .menu-btn{
    cursor:pointer;
    user-select:none;
    display:none;
}
.navbar .btn-logout{
    padding:5px 20px;
    cursor:pointer;
    background:#7D444E;
    color:white;
    font-size:20px;
    border:1px solid transparent;
    border-radius: 5px;
    transition: .5s;
    font-weight: bold;
}
.navbar .btn-logout:hover{
    color:white;
    background:transparent;
    border:1px solid #7D444E;
    transition: .5s;
}
.navbar .product-btn-logout{
    background:whitesmoke;
    color:#7D444E;
}
.navbar .product-btn-logout:hover{
    background:#7D444E;
}
.menu-btn i{
    color:#ed3c15;
    font-size:30px;
    font-weight:bold;
}


/* Home page design */
.home{
    width:100%;
    height:100vh;
    padding:20px;
    background-image: url(aiArtboard\ 1.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.home .home-container{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-container .home-content{
    width:500px;
}
.home-content .home-title{
    font-size:40px;
    color:#7D444E;
    text-align: center;
}
.home-content h1{
    font-size:40px;
    color:#7D444E;
    text-align: center;
}
.home-content .home-hero{
    font-size:17px;
    color:#7D444E;
    margin:10px 0;
}
.home-content a{
    display:flex;
    justify-content: center;
}
.home-content a .home-btn{
    background-color: #7D444E;
    color:white;
    font-size:18px;
    border:1px solid transparent;
    border-radius: 5px;
    padding:5px 15px;
    cursor: pointer;
    transition: .5s;
}
.home-content a .home-btn:hover{
    background-color: transparent;
    color:#7D444E;
    border:1px solid #7D444E;
    transition: .5s;
}



/* product page design */
.product{
    background-color: #D7AAB1;
    width:100%;
    padding:80px 20px;
}
.product .pheading{
    color:white;
    font-size:40px;
    font-weight:bold;
    text-align:center;
}
.product .product-content{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    gap:50px;
    justify-content: center;
    padding:30px 20px;
    align-items: center;
}
.product-content .products{
    background: whitesmoke;
    padding:20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius:5px;
    
}
.products .img img{
    width:300px;
    height:300px;
}
.products .desc{
    padding:5px 20px; 
    opacity:0.8;
}
.products .title{
    font-weight:900;
    font-size:20px;
    color:#414244;
    padding:0 20px;
}
.products .box{
    display:flex;
    justify-content: space-between;
    align-items: center;
     padding:20px;
}
.box .price{
    color:#242b26;
    font-size:20px;
    font-weight:bold;
}
.box .btn{
    font-size:13px;
    color:#414244;
    padding:10px 18px;
    font-weight:900;
    border: 1px solid #414244;
    border-radius: 20px;
}
.box .btn:hover{
    cursor:pointer;
    background-color:#7D444E;
    color:#ecdede;
}



/* signup and login page design */
.form-container{
    width:100%;
    height:100vh;
    background-color: whitesmoke;
    display:flex;
    align-items: center;
    justify-content: center;
}
.form-container .form-content{
    width:700px;
    background-color: white;
    display:flex;
    flex-direction: row;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.125);
}
.form-content form{
    width:350px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
form h1{
    color:#7D444E;
    text-align: center;
    padding-bottom: 30px;
}
form .reg{
    height:40px;
    width:100%;
    background-color: #e3dcdc;
    border: none;
    padding:5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size:18px;
}
form .forgot{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
form .btn-form{
    background-color: #D7AAB1;
    color:black;
    padding:10px 60px;
    width:100%;
    border-radius: 30px;
    border:1px solid #adadad;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
}
form .btn-form:hover{
    background-color: #7D444E;
    color:white;
}
.forgot a{
    color:#adadad;
    transition: .5s;
    font-size: 18px;
}
.forgot a:hover{
    color:#242b26;
    transition: .5s;
}
form .signup{
    font-size: 18px;
    margin-top: 20px;
}
.signup p{
    color:black;
}
.signup p a{
    color:#adadad;
    transition: .5s;
}
.signup p a:hover{
    color:#242b26;
    opacity: 1;
    transition: .5s;
}
form .login{
    font-size: 18px;
    margin-top: 20px;
}
.login p{
    color:black;
}
.login p a{
    color:black;
    opacity: .7;
    transition: .5s;
}
.login p a:hover{
    color:#242b26;
    opacity: 1;
    transition: .5s;
}
.form-container .txt_field{
    width:350px;
    background-color: #D7AAB1;
    padding:30px;
    transition: .5s;
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt_field h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color:#242b26;
}
.txt_field p{
    font-size:16px;
    text-align: left;
    color:#242b26;
}
/* about */
.about{
    width:100%;
    background-color: #D7AAB1;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.about .about-container{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:20px;
    background:white;
    height:80vh;
    width:100%;
    padding:10px 30px;
}
.about-content h1{
    color:#242b26;
    font-size:40px;
    text-align: center;
    margin-bottom: 20px;
}
.about-content p{
    font-size:20px;
    color:black;
    opacity: .8;
}
.about-content img{
    height:600px;
    width:550px;
}
.close{
    width:100%;
    text-align: right;
}
.close button{
    background:#a25c69;
    color:white;
    cursor:pointer;
    border:none;
    padding:5px 9px;
    font-weight: bold;
    transition:.3s;
}
.close button:hover{
    background:#7D444E;
}
.product_tittle{
    position:relative;
}
.product_tittle h1{
    color:#7D444E;
}
.product_tittle h4{
    color:#7D444E;
}
.product_services_form{
    width:100%;
}
.blurry-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}



.product_services_form .product_services_form_container{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    filter: blur(0px);
}
.product_services_form_container form{
    max-width:400px;
    width:100%;
    min-width:300px;
    background:white;
    box-shadow: 0 5px 10px rgba(0, 0 ,0, 0.3);
    border-radius: 10px;
    padding:20px;
    display:none;
}
.product_services_form_container form .fullname{
    width:100%;
    display: flex;
    gap:10px;
    margin-top:20px;
}
.fullname .txt_field{
    position:relative;
    width: 100%;
    border:1px solid #adadad;
}
.txt_field input{
    width:100%;
    min-width:100px;
    height:40px;
    background:none;
    border:none;
    position:relative;
    z-index: 100;
    padding:5px;
    font-size:18px;
    outline:none;
}
.txt_field label{
    position:absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color:#adadad;
    transition:.5s;
}
.txt_field span::before{
    content: '';
    position:absolute;
    top:50%;
    left:-0.5px;
    transform: translateY(-50%);
    border:1px solid #2d344a;
    height:40px;
    width:0%;
    background:none;
    transition:.5s;
}
.txt_field input:focus~label,
.txt_field input:valid~label{
    top:-10px;
    left:-1px;
    color:#2d344a;
}
.txt_field input:focus~span::before,
.txt_field input:valid~span::before{
    width:100%;
}
.form_contact_info{
    width:100%;
    margin-top:20px;
}
.form_contact_info .txt_field2{
    position:relative;
    width: 100%;
    border:1px solid #adadad;
    margin-bottom:20px;
}
.txt_field2 input{
    width:100%;
    min-width:100px;
    height:40px;
    background:none;
    border:none;
    position:relative;
    z-index: 100;
    padding-left:35px;
    padding-right:5px;
    font-size:18px;
    outline:none;
}
.txt_field2 label{
    position:absolute;
    top:50%;
    left:35px;
    transform: translateY(-50%);
    color:#adadad;
    transition:.5s;
}
.txt_field2 span::before{
    content: '';
    position:absolute;
    top:50%;
    left:-0.5px;
    transform: translateY(-50%);
    border:1px solid #2d344a;
    height:40px;
    width:0%;
    background:none;
    transition:.5s;
}
.txt_field2 i{
    position:absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 20px;
    color:#adadad;
    border-right:1px solid #adadad;
    padding-right:5px;
}
.txt_field2 input:focus~label,
.txt_field2 input:valid~label{
    top:-10px;
    left:-1px;
    color:#2d344a;
}
.txt_field2 input:focus~i,
.txt_field2 input:valid~i{
    color:#7D444E;
    border-right:1px solid #7D444E;
}
.txt_field2 input:focus~span::before,
.txt_field2 input:valid~span::before{
    width:100%;
}
.form_btn{
    background:#a25c69;
    color:white;
    padding:10px 30px;
    font-weight: bold;
    border:none;
    transition: .3s;
    cursor: pointer;
}
.form_btn:hover{
    background:#7D444E;
}


@media(max-width:700px){
    .navbar .nav-link{
        display:none;
    }
    .navbar .menu-btn{
        display:block;
    }
}